.header{
  height:93px;
  color: $light-grey-text;

  a{
    color: $light-grey-text;
   
  }
  ul.left{
    li{
   
      padding: 20px 20px 20px 0px;
    }

  }
  
  ul.right{
    li{
   
      padding: 20px 0px 20px 20px;
    }

  }
  
}

.secondary-navbar{
  background:$light-grey;
  position:relative;
  padding:2em 0;
  height:94px;
}

.tertiary-navbar{
  position:relative;
  padding:2em 0;
  height:94px;
}