@import "../bootstrap/variables";

//$brand-primary: $purple ;

$brand-primary: #ffffff ;
$albus-pink: #FC6061 ;
$light-grey: #EEEEF1;
$light-grey-text: #929AA7;
$pale-grey: #D2D6DB;
$main-body-background: #F6F6F6;
$teal: #00C1BA;